{
  "settings": [
    {
      "id": "f04c7277-0019-43cf-84b3-02d894a9d81a",
      "key": "BANKING_INFORMATION_ENABLED",
      "value": "true"
    },
    {
      "id": "e7e9af00-c12c-448f-8ad1-d15ff209605a",
      "key": "ANOTHER_SETTING",
      "value": "anything"
    }
  ],
  "totalRecords": 2
}
