{
  "settings": [
    {
      "id": "65de6432-be11-48ba-9686-a65101634040",
      "key": "smtp-configuration",
      "scope": "mod-email",
      "value": {
        "host": "localhost",
        "port": 502,
        "username": "username",
        "password": "password",
        "ssl": true,
        "trustAll": false,
        "loginOption": "REQUIRED",
        "startTlsOptions": "DISABLED",
        "expirationHours": 24,
        "authMethods": "CRAM-MD5 LOGIN PLAIN",
        "from": "noreply@folio.org",
        "_version": 1,
        "emailHeaders": [
          {
            "name": "Reply-To",
            "value": "noreply@folio.org"
          }
        ]
      }
    }
  ],
  "totalRecords": 1
}
